html{
    font-size: 32px;
}
body{
    background: #f5f4f5;
    padding: 1rem;
}

i.back{
    a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }
}

.flexbox-h{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
}
.flexbox-v{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between;
}


//Charts

#chart .c3-axis-y, #chart .c3-axis-x {
  stroke-width: 0;
}
