// @import '{}/node_modules/semantic-ui-calendar/dist/calendar.css';
// @import '../../../node_modules/semantic-ui-calendar/calendar.css';

html{
    font-size: 32px;
}
body{
    background: #f5f4f5;
    padding: 1rem;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
}

i.back{
    a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;

    }
}

.flexbox-h{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
}
.flexbox-v{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between;
}


//Charts

#chart .c3-axis-y, #chart .c3-axis-x {
  stroke-width: 0;
}
