<template name="meteo">
	<div class="topBar anchor">
		<h2 class="ui inverted header">
			<i  class="back left chevron icon"><a href="/parcelle/{{parcelle._id}}"></a></i>
			<div class="content">
				{{dataName}}
				<div class="sub header">{{parcelle.attributes.Name}}</div>
			</div>
		</h2>
	</div>
		<div class="content">
	<div class="ui basic segment">
		<div class="ui calendar" id="calendar">
		</div>
	</div>
	<div class="ui theChart basic segment chart">
		{{> c3 myChartData}}
		{{#if dataAvailable}}
			<div class="noData">
				No Data Available
			</div>
		{{/if}}
	</div>
	</div>

</template>
