<template name="parcelle">
	<div class="topBar anchor">
		<h2 class="ui inverted header">
			<i  class="back left chevron icon"><a href="/"></a></i>
			<div class="content">
				{{parcelle.attributes.Name}}
				<div class="sub header">Type, Variété, Date de Semis</div>
			</div>
		</h2>
	</div>

	<div class="content">
		<div class="ui pointing three item secondary inverted menu anchor" id="menu-onglet">
			<a class="menuTab item {{tab.first}}" data-tab="first">Stade</a>
			<a class="menuTab item {{tab.second}}" data-tab="second">Photo du Jour</a>
			<a class="menuTab item {{tab.third}}" data-tab="third">Météo</a>
		</div>
		<div id="stade" class="ui tab basic segment {{tab.first}}" data-tab="first">
			<div id="stade-gauge">

				{{> c3 gauge}}
					<div class="valeur">
					  <div class="ui statistic">
					    <div class="value">
					      {{remaining}}
					    </div>
					    <div class="label">
					      semaines restantes
					    </div>
					</div>
				  </div>
			</div>
			<div class="ui horizontal list flexbox-h">
				<div class="item">

					<div class="content">
						<div class="header">Taillage</div>

					</div>
				</div>
				<div class="item">

					<div class="content">
						<div class="header">Formation de la Tige</div>

					</div>
				</div>
				<div class="item">

					<div class="content">
						<div class="header">Apiaison</div>

					</div>
				</div>
				<div class="item">

					<div class="content">
						<div class="header">Maturité</div>

					</div>
				</div>
			</div>

			<div class="ui horizontal list flexbox-h">
				<div class="item">

					<div class="content">
						<img class="ui avatar image" src="/placeholder.png">
						<div class="header">10</div>
					</div>
				</div>
				<div class="item">

					<div class="content">
						<img class="ui avatar image" src="/placeholder.png">
						<div class="header">21</div>
					</div>
				</div>
				<div class="item">

					<div class="content">
						<img class="ui avatar image" src="/placeholder.png">
						<div class="header">26</div>
					</div>
				</div>
				<div class="item">

					<div class="content">
						<img class="ui avatar image" src="/placeholder.png">
						<div class="header">29</div>
					</div>
				</div>
				<div class="item">

					<div class="content">
						<img class="ui avatar image" src="/placeholder.png">
						<div class="header">30</div>
					</div>
				</div>

			</div>

		</div>
		<div class="ui tab basic segment {{tab.second}}" data-tab="second">
			<img class="ui image fluid" src="/placeholder.png" alt="" />

			<!-- {{#each photo}}
			<div>
				<img src="{{this.url}}" alt="" class="thumbnail" />
			</div>
			{{/each}} -->
		</div>
		<div class="ui tab basic segment {{tab.third}}" data-tab="third">

			<div class="ui vertical fluid labeled icon menu">
				<a  href="/parcelle/{{parcelle._id}}/meteo/Hygrometrie" class="item">
					<i class="umbrella icon green"></i>
					Hygrometrie
				</a>
				<a  href="/parcelle/{{parcelle._id}}/meteo/Pluviometrie" class="item">
					<i class="umbrella icon red"></i>
					Pluviometrie
				</a>
				<a  href="/parcelle/{{parcelle._id}}/meteo/Vent" class="item">
					<i class="leaf  icon red"></i>
					Vent
				</a>
				<a  href="/parcelle/{{parcelle._id}}/meteo/TemperatureAir" class="item">
					<i class="sun icon green"></i>
					Temperature Air
				</a>
				<a  href="/parcelle/{{parcelle._id}}/meteo/TemperatureSol" class="item">
					<i class="sun icon green"></i>
					Temperature Sol
				</a>
				<a  href="/parcelle/{{parcelle._id}}/meteo/HumiditeSol" class="item">
					<i class="umbrella icon green"></i>
					Humidité Sol
				</a>
			</div>
		</div>
	</div>

</template>
