<template name="parcelleList">
	<div class="topBar anchor">
		<h2 class="ui inverted header">
			Vos Parcelles
			<!-- <div class="sub header">Manage your account settings and set e-mail preferences.</div> -->
		</h2>
	</div>
		<div class="ui basic segment content">
			<div class="ui very relaxed divided list">
				{{#each parcelles}}
				<div class="item">
					<div class="content">
						<a href="/parcelle/{{this._id}}" class="header">
							{{this.attributes.Name}}

						</a>
					</div>
				</div>
				{{/each}}
			</div>
	</div>

</template>
